<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="Test">
    <classes>
      <class name="pack.Login"/>
      <class name="pack.Pim"/>
      <class name="pack.AddEmployee"/>
      <class name="pack.PersonalDetails"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
